**/node_modules
**/.sass-cache
**.scssc
**/[Tt]humbs.db
**/[Dd]esktop.ini
*.DS_store
**.DS_store?
**/bin
**/tmp
**/.tmp
**/.bak
**/**/*.log
**/.log
**/.[Cc]ache
**/.cpr
**/.orig
**.php.inc
**/.idea/
**/temp
**/.Trashes
**/advanced-cache.php
**/backup-db/
**/backups/
**/blogs.dir/
**/cache/
**/upgrade/
**/.sass-lint.yml
**/wflogs/**
**/uploads/
**/wp-cache-config.php
**.map
**/public
/updraft
/ai1wm-backups
/themes/twentyseventeen
plugins/*
!plugins/treehouse-functionality
plugins/treehouse-functionality/advanced-custom-fields-pro
