section.logo-box {
	margin-bottom: 20px;
	padding: 0;
}

header #title a {
	display: block;
}

header h1 a,
header .header-call-to-action .widget a {
	color: $deep-aqua;
}

header .header-call-to-action .widget {
	background-color: $deep-aqua;
}

header .header-call-to-action .widget_search {
	color: #00cccc;
}

nav ul.top-nav {
	border-bottom: 1px solid $grey;

	li a {
		color: $grey;
	}
}

// Adjust mobile button link styling.
.primary-nav-container {
	.primary-nav-button {
		background-color: transparent;
		color: $deep-aqua;
		margin: 1em 0;
	}
}

// When the menu is open.
nav .primary-nav.open {
	height: auto;
	overflow: hidden;
	padding-top: 162px;
	height: 412px;
}

// Primary Nav.
nav .primary-nav {
	border-bottom: none;
	border-top: none;
	color: $white;
	display: flex;
	flex: 0;
	flex-direction: column;
	height: 0;
	justify-content: flex-start;
	margin-top: 0;

	@media only screen and (min-width: 641px) {
		flex-direction: row;
		height: initial;
		justify-content: space-evenly;
		margin: 0 0 32px;
	}

	li {
		background-color: $white;

		a {
			color: $deep-aqua;
			font-size: 18px;
			font-weight: 400;
			padding: 8px 20px;
			width: initial;

			@include media($tablet-landscape, null) {
				padding: 8px 25px;
			}
		}

		a:hover {
			background-color: $aqua;
		}
	}
} // nav .primary-nav

// Primary Navigation.
.primary-nav {
	padding-left: 0;
}

nav .primary-nav li ul.sub-menu li a:hover,
.primary-nav-container li ul.children li a:hover {
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	color: $grey;
	display: block;
	float: none;
	margin-bottom: -1px;
	min-width: 12em;
	padding: 15px 25px;
	white-space: nowrap;
	width: auto;
}
