// Theme Colours.
$aqua: lighten(#009999, 10%);
$deep-aqua: #009999;
$grey: #555;
$black: #000;
$white: #fff;
$soft-black: #333;

$font-work: 'Work Sans', sans-serif;

// Breakpoints for media queries.
$large-desktop: 1680px;
$desktop: 1366px;
$tablet-landscape: 1024px;
$wp-admin-bar: 783px;
$tablet-portrait: 768px;
$phone-landscape: 640px;
$phone-portrait: 360px;


//--------------------------------------------------------------
// MEDIA QUERIES
//--------------------------------------------------------------
/// Pass Sass Map(s) or Number(s) to create custom media queries.
///
/// @example - scss  Usage
///   @include media(null, $tablet-portrait) {};
///
/// @example - css Output
///   @media and screen (max-width: $tablet-portrait)
@mixin media($min, $max) {

	// If the user passes a grid Sass map, set the variable to the media's value.
	@if type-of($min) == "map" {
		$min: map-get($min, media);
	}
	@if type-of($max) == "map" {
		$max: map-get($max, media);
		$max: $max - 1;
	}

	// Create the media query.
	@if $min == null {
		@media only screen and (max-width: $max) {
			@content;
		}
	} @else if $max == null {
		@media only screen and (min-width: $min) {
			@content;
		}
	} @else {
		@media only screen and (min-width: $min) and (max-width: $max) {
			@content;
		}
	}
}
